
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AppDynamics Visibility Packs</title>
   <% include includes %>
</head>

<body>
		<div id="ava">
			<h7>AppDynamics Visibility Packs</h7>
		</div>
		<div id="impress">
				<div id="welcome" class="step slide" data-x="0" data-y="-1500">
						<p>
						<ul>
							<li><a id="introNext" href="#">Next</a></li>
							<li>Situation : <br>You have been identified as the owner of your AppDynamics SaaS Instance. Please contact us and we can provide credentials to your instance.</li>
							<li><br>Complication : <br>Your SaaS Instance is live but no agents have been deployed.</li>
							<li><br>Implication : <br>You can use AppDynamics to identify and troubleshoot complex APM issues. This platform is available but not being used.</li>
							<li><br>Position : <br>When you deploy the agents you will get visibility into your applications.</li>
							<li><br>Action : <br>Please schedule an appointment with our our Adoption team. We will work with you to identify the right use case and team to work with. Please share this with anyone that might be interested in using these licenses.</li>
							<li><br>Benefit : <br>AppDynamics is a powerful APM platform that can give you end to end visibility. </li>
						</ul>
						</p>

				</div>
				
				<div id="intro" class="step slide" data-x="2000" data-y="-1500">
						<div id="showIntroVideo"></div>
				</div>
				<div id="schedule" class="step slide" data-x="4000" data-y="-1500">
						<iframe src="/views/contact.html" width="100%" height="100%" scrolling="no"></iframe>
				</div>
		</div>
		<div id="footer">
		</div>
</body>
		
<script type="text/javascript" src="/vendor/impress/js/impress.js"></script>
<script type="text/javascript">

	impress().init();

	var helloStep = new UIStep("welcome","hello_audio");
	playScript(helloStep);

	var introStep = new UIStep("intro","intro_audio","after",function(){
		$("#showIntroVideo").html("<video autoplay><source src=\"/img/Fjinale-720p.mov\" type=\"video/mp4\"></source></video>");
	});
	introStep.listen("#introNext");
	

</script>
</html>
