
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AppDynamics Visibility Packs</title>
   <% include includes %>
</head>

    
<body style="background-color: white;">
		
				
						<div>
							<form>
								<div class="form-group row">
										<label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
										</div>
								</div>
								<div class="form-group row">
										<label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
										</div>
								</div>
								<div class="form-group row">
										<label for="inputCompany" class="col-sm-2 col-form-label">Company</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputCompany" placeholder="Company">
										</div>
								</div>
								<div class="form-group row">
										<label for="inputTitle" class="col-sm-2 col-form-label">Title/Role</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputTitle" placeholder="Title/Role">
										</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
									</div>
								</div>
								<fieldset class="form-group">
									<div class="row">
										<legend class="col-form-label col-sm-2 pt-0">Tech Stack</legend>
										<div class="col-sm-10">
												<div class="row">
													<div class="form-check col-sm-3">
														<input class="form-check-input" type="checkbox" name="java" id="java" value="java">
														<label class="form-check-label" for="java">
															Java
														</label>
													</div>
													<div class="form-check col-sm-3">
														<input class="form-check-input" type="checkbox" name="net" id="net" value=".net">
														<label class="form-check-label" for="java">
															.NET
														</label>
													</div>
													<div class="form-check col-sm-3">
															<input class="form-check-input" type="checkbox" name="nodejs" id="nodejs" value="nodejs">
															<label class="form-check-label" for="nodejs">
																Node.js
															</label>
														</div>
												</div>
												<div class="row">
														<div class="form-check col-sm-3">
															<input class="form-check-input" type="checkbox" name="php" id="php" value="php">
															<label class="form-check-label" for="php">
																PHP
															</label>
														</div>
														<div class="form-check col-sm-3">
															<input class="form-check-input" type="checkbox" name="python" id="python" value="python">
															<label class="form-check-label" for="python">
																Python
															</label>
														</div>
														<div class="form-check col-sm-3">
																<input class="form-check-input" type="checkbox" name="go" id="go" value="go">
																<label class="form-check-label" for="go">
																	Go
																</label>
															</div>
													</div>
										</div>
									</div>
								</fieldset>
								<fieldset class="form-group">
										<div class="row">
											<legend class="col-form-label col-sm-2 pt-0">Other Tech Stack</legend>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="other">
											</div>
										</div>
									</fieldset>
								<fieldset class="form-group">
										<div class="row">
											<legend class="col-form-label col-sm-2 pt-0">End User Monitoring</legend>
											<div class="col-sm-10">
													<div class="row">
														<div class="form-check col-sm-3">
															<input class="form-check-input" type="checkbox" name="browser" id="browser" value="browser">
															<label class="form-check-label" for="browser">
																Browser
															</label>
														</div>
														<div class="form-check col-sm-3">
															<input class="form-check-input" type="checkbox" name="mobile" id="mobile" value="mobile">
															<label class="form-check-label" for="java">
																Mobile Devices
															</label>
														</div>
														<div class="form-check col-sm-3">
																<input class="form-check-input" type="checkbox" name="iot" id="iot" value="iot">
																<label class="form-check-label" for="iot">
																	IoT
																</label>
															</div>
													</div>
											</div>
										</div>
									</fieldset>
									<fieldset class="form-group">
											<div class="row">
												<legend class="col-form-label col-sm-2 pt-0">Infrastructure</legend>
												<div class="col-sm-10">
														<div class="row">
															<div class="form-check col-sm-3">
																<input class="form-check-input" type="checkbox" name="server" id="server" value="server">
																<label class="form-check-label" for="server">
																	Server
																</label>
															</div>
															<div class="form-check col-sm-3">
																<input class="form-check-input" type="checkbox" name="database" id="database" value="database">
																<label class="form-check-label" for="database">
																	Database
																</label>
															</div>
															<div class="form-check col-sm-3">
																	<input class="form-check-input" type="checkbox" name="network" id="network" value="network">
																	<label class="form-check-label" for="network">
																		Network
																	</label>
																</div>
														</div>
												</div>
											</div>
									</fieldset>
									<fieldset class="form-group">
											<div class="row">
												<legend class="col-form-label col-sm-2 pt-0">Schedule Call</legend>
												<div class="col-sm-10">
														<div class="row">
															<div class="form-check col-sm-3">
																<input class="form-check-input" type="text" name="callDate" id="callDate">
																<label class="form-check-label" for="callDate">
																	Pick a Date
																</label>
															</div>
															<div class="form-check col-sm-3">
																<input class="time ui-timepicker-input" type="text" name="callTime" id="callTime">
																<label class="form-check-label" for="callTime">
																	Pick a Time
																</label>
															</div>
														</div>
												</div>
											</div>
									</fieldset>
									<div class="form-group row">
										<div class="col-sm-10"></div>
										<div class="col-sm-2">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</div>
							</form>
						</div>
				
</body>
		
<script type="text/javascript">


$( "#callDate" ).datepicker({
  beforeShowDay: $.datepicker.noWeekends
});


</script>
</html>
