
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>VA</title>
   <% include ./partials/theme %>
    <link href="/vendor/impress/css/impress-demo.css" rel="stylesheet" />
	<script type="text/javascript" src="/vendor/polly/aws-sdk.min.js"></script>
	<script type="text/javascript" src="/vendor/polly/chattyKatty.js"></script>
	<script type="text/javascript" src="/custom/js/internalui.js"></script>
	<script type="text/javascript" src="/custom/js/apr-analysis.js"></script>
		
	<style>
			body {
				background-color: black;
			}
	</style>	
		
</head>

<body>
		<div id="impress" >

				
				<div class="step slide" data-x="-1000" data-y="-1500">
					<div id="welcomeContent"></div>
				</div>
			
				<div class="step slide" data-x="0" data-y="-1500">
					<div id="showContent"></div>
				</div>
			
				<div class="step slide" data-x="1000" data-y="-1500">
					<q>Would you like to <strong>impress your audience</strong> with <strong>stunning visualization</strong> of your talk?</q>
				</div>
			
				<!--
					
					This is an example of step element being scaled.
					
					Again, we use a `data-` attribute, this time it's `data-scale="4"`, so it means that this
					element will be 4 times larger than the others.
					From presentation and transitions point of view it means, that it will have to be scaled
					down (4 times) to make it back to its correct size.
					
				-->
				<div class="step" data-x="0" data-y="0" data-scale="4">
					<<span class="try">then you should try</span>
					<h1>impress.js<sup>*</sup></h1>
					<span class="footnote"><sup>*</sup> no rhyme intended</span>>
				</div>
			
				<!--
					
					This element introduces rotation.
					
					Notation shouldn't be a surprise. We use `data-rotate="90"` attribute, meaning that this
					element should be rotated by 90 degrees clockwise.
					
				-->
				<div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
					<p>It’s a <strong>presentation tool</strong> <br/>
					inspired by the idea behind <a href="http://prezi.com">prezi.com</a> <br/>
					and based on the <strong>power of CSS3 transforms and transitions</strong> in modern browsers.</p>
				</div>
			
				<div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
					<p>visualize your <b>big</b> <span class="thoughts">thoughts</span></p>
				</div>
			
				<!--
					
					And now it gets really exciting! We move into third dimension!
					
					Along with `data-x` and `data-y`, you can define the position on third (Z) axis, with
					`data-z`. In the example below we use `data-z="-3000"` meaning that element should be
					positioned far away from us (by 3000px).
					
				-->
				<div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
					<p>and <b>tiny</b> ideas</p>
				</div>
			
				<!--
					
					This step here doesn't introduce anything new when it comes to data attributes, but you
					should notice in the demo that some words of this text are being animated.
					It's a very basic CSS transition that is applied to the elements when this step element is
					reached.
					
					At the very beginning of the presentation all step elements are given the class of `future`.
					It means that they haven't been visited yet.
					
					When the presentation moves to given step `future` is changed to `present` class name.
					That's how animation on this step works - text moves when the step has `present` class.
					
					Finally when the step is left the `present` class is removed from the element and `past`
					class is added.
					
					So basically every step element has one of three classes: `future`, `present` and `past`.
					Only one current step has the `present` class.
					
					Note: data-x/y/z attributes, if not defined, by default will inherit the value of the 
					previous step. So to get back to 0 on the z-axis, we must set it to 0.
					See src/plugins/rel/README.md for more information.
					
				-->
				<div id="ing" class="step" data-x="3500" data-y="-850" data-z="0" data-rotate="270" data-scale="6">
					<p>by <b class="positioning">positioning</b>, <b class="rotating">rotating</b> and <b class="scaling">scaling</b> them on an infinite canvas</p>
				</div>
			
				<div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
					<p>the only <b>limit</b> is your <b class="imagination">imagination</b></p>
				</div>
			
				<div id="source" class="step" data-x="6300" data-y="2000" data-rotate="20" data-scale="4">
					<p>want to know more?</p>
					<q><a href="http://github.com/impress/impress.js">use the source</a>, Luke!</q>
				</div>
			
				<div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
					<p>one more thing...</p>
				</div>
			
				<!--
					
					And the last one shows full power and flexibility of impress.js.
					
					You can not only position element in 3D, but also rotate it around any axis.
					So this one here will get rotated by -40 degrees (40 degrees anticlockwise) around X axis and
					10 degrees (clockwise) around Y axis.
					
					You can of course rotate it around Z axis with `data-rotate-z` - it has exactly the same effect
					as `data-rotate` (these two are basically aliases).
					
				-->
				<div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
					<p><span class="have">have</span> <span class="you">you</span> <span class="noticed">noticed</span> <span class="its">it’s</span> <span class="in">in</span> <b>3D<sup>*</sup></b>?</p>
					<span class="footnote">* beat that, prezi ;)</span>
				</div>
			
				<!--
					
					So to summarize of all the possible attributes used to position presentation steps, we have:
					
					* `data-x`, `data-y`, `data-z` - they define the position of **the center** of step element on
						the canvas in pixels; their default value is 0;
					* `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` - they define the rotation of
						the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z`
						are exactly the same;
					* `data-scale` - defines the scale of step element; default value is 1
					
					These values are used by impress.js in CSS transformation functions, so for more information consult
					CSS transfrom docs: https://developer.mozilla.org/en/CSS/transform
					
				-->
				<div id="overview" class="step" data-x="3000" data-y="1500" data-z="0" data-scale="10">
				</div>
			
		</div>
			
			
</body>
		
<script type="text/javascript" src="/vendor/impress/js/impress.js"></script>
<script type="text/javascript">

	class UIStep {
		constructor(text,func,action) {
			this.text = text;
			this.func = func;
			if(action == null){
				this.action = "after";
			}else{
				this.action = action;
			}
		}
		isAfter(){
			return this.action == "after";
		}
		isBefore(){
			return this.action == "before";
		}
		run(){
			this.func();
		}
	}

	impress().init();

	var awsCredentials = new AWS.Credentials('<%= awskey1 %>','<%= awskey2 %>');
    var settings = {
        awsCredentials: awsCredentials,
        awsRegion: "us-west-2",
        pollyVoiceId: "Joanna",
        cacheSpeech: true
    }
    var ava = ChattyKathy(settings);
	
	
	var welcome = function(){
		impress().goto(0);
		var script = [];

		var text1 = "Hello";
		var showText1 = function(){
			$("#welcomeContent").html("<q>Welcome</q>");
		}
		script.push(new UIStep(text1,showText1));

		var text2 = "I’m Ayvaa, the AppDynamics Virtual Adoption Assistant.";
		var showText2 = function(){
			$("#welcomeContent").html("<q><strong>AVAA</strong></q> <q>AppDynamics Virtual Adoption Assistant</q>");
		}
		script.push(new UIStep(text2,showText2));

		var text3 = "Chuck Robbins recently referred to our CEO, David Wadhwani, as “Mr. AVP”, underscoring that the AVP initiative is critical to AppDee’s goal of becoming a Billion Dollar business unit"
		var showText3 = function(){
			$("#welcomeContent").append("<q><strong>Mr. AVP</strong></q>");
		}
		script.push(new UIStep(text3,showText3));

		var text4 = "The AppDee Visibility Pack initiative is an effort to \“seed\” AppDee with 1500 new customers in the hope that some percentage of these customers will try, like and then renew and expand AppDee"
		var showText4 = function(){
			$("#welcomeContent").append("<q><strong>1500</strong></q>");
		}
		script.push(new UIStep(text4,showText4));
		
		var text5 = "To-date our human-based adoption efforts have resulted in a very low AVP conversion rate of about 5%"
		var showText5 = function(){
			$("#welcomeContent").append("<q><strong>5%</strong></q>");
		}
		script.push(new UIStep(text5,showText5));

		var text6 = "Let me show you how I am going to change this!";
		var transition6 = function(){
			setTimeout(showHowIntro, 1000 );
		};
		script = script.splice(0,2);
		script.push(new UIStep(text6,transition6,"after"));
		
		playScript(script,0);
	}

	var showHowIntro = function (){
		impress().goto(1);
		var script = [];
		var text1 = "I will begin to analyze the follow Customer Controller for existing problems.";
		var showText1 = function(){
			$("#showContent").append("<q>Using ML algorithm to detect issues on Controller</q> <p>http://44controllerevents-sm451businessiqlab-isk0czcw.srv.ravcloud.com:8090</p>");
		}
		script.push(new UIStep(text1,showText1));

		var text2 = "We have identified 3 issues that I will walk you through."
		var showText2 = function(){
			$("#showContent").append("Top 3 Issues");
		}
		script.push(new UIStep(text2,showText2));
		playScript(script,0);
	}

	var top3 = function(){
		var timeRange = getTimeRangeBasedOnSelection("1d");
	}

	var details = function(){
		new BoxChartComponent({
			title:"Total Revenue",
			targetId:"details",
			action:"Revenue Dashboard",
			actionClick: "window.location.href ='/views/examples/boxcomponent.html'",
			icon:"fa fa-shopping-cart fa-5x",
			value:"2 Million",
			panelClass:"overview-item--c1",
			options:{height:"400px", width:"400px"}
		}).draw();
		setTimeout(details2, 3000);
	}

	var details2 = function(){
		var chartData =[
			[1532966193039,5],
			[1532966013039,10],
			[1532965833039,20],
			[1532965593039,7],
			[1532965293039,30]
		];

		new TimeChart({
			targetId:"details",
			data : chartData,
			options:{height:"400px", width:"400px"}
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})
		//setTimeout(details3, 3000);
	}

	var script = function(){
		setTimeout(welcome, 3000);
	}

	script();
	

	function playScript(script,i){
		if(script.length > i){
			var uistep = script[i];
			if(uistep.isBefore()){
				if (isFunction(uistep.func)){
					uistep.run();
				}
			}
			if(uistep.text){
				ava.SpeakWithPromise(uistep.text).then(function(){
					if(uistep.isAfter()){
						if (isFunction(uistep.func)){
							uistep.run();
						}
					}
					playScript(script,i+1);
				});
			}
			
		}
	}
    
    //ava.Speak("<speak>Hello, I’m Ayvaa, the AppDynamics Virtual Adoption Assistant <emphasis level=\"strong\">I’m here to change that!</emphasis></speak>");
//    kathy.Speak("I can be used for an amazing user experience!");

	function isFunction(functionToCheck) {
		return functionToCheck && {}.toString.call(functionToCheck) === '[object Function]';
	}

</script>
</html>
